body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("{% static 'images/everything_background.png' %}") no-repeat center center fixed;
    background-size: cover;
}

#navbar-unsigned{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    background-color: #150b27;
}

.navbar-brand{
    margin-top: 0;
    margin-bottom: 0;  
    margin-right: 3%;
    margin-left: 3%;

}

ul{
    margin-left:20%;
    margin-right: 20%;
    margin-top: 20px;
    flex:1;
    display: flex;
    justify-content: space-around;
}

.nav-list-element{
    display: inline-block;
    color: white;
    text-decoration: none;
}