body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    background: url("{% static 'images/everything_background.png' %}") no-repeat center center fixed;
    background-size: cover;
}

#navbar-unsigned{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    background-color: #150b27;
}

.navbar-brand{
    margin-top: 0;
    margin-bottom: 0;  
    margin-right: 3%;
    margin-left: 3%;

}

ul{
    margin-left:20%;
    margin-right: 20%;
    margin-top: 20px;
    flex:1;
    display: flex;
    justify-content: space-around;
}

.nav-list-element{
    display: inline-block;
    color: white;
    text-decoration: none;
}


.container {
    max-width: 900px;
}

#summary-btn {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 20px auto;
    font-size: 1.1rem;
    font-weight: bold;
}

h2 {
    text-align: center;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h5 {
    font-size: 1.2rem;
    color: #555;
}

.card h3 {
    font-size: 1.8rem;
    color: #333;
    font-weight: bold;
}

canvas {
    display: block;
    margin: 20px auto;
}

.charts-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap; 
}

.chart-container {
    height: 18.75rem; 
    width: 18.75rem;
    width: 100%;
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 0.625rem 1rem rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (max-width: 768px) {
    .card {
        margin-bottom: 15px;
    }

    #summary-btn {
        width: 100%;
    }
}