<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login &amp; Register</title>
    <link rel="icon" type="image/png" href="../static/images/favicon-3-modified.png">
    <link rel="stylesheet" href="../static/css/auth.css">
    <script src="../static/js/auth.js"></script>

<body>

    <div class="auth-container">
        <div class="form-box" id="login-box">
            <h1>Login</h1>
            <form method="POST" action="{% url 'login' %}">
                <input onfocus= "togglePlaceholder(this)" onblur = "restorePlaceholder(this)"  type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button class = "login-button" type="submit">Login</button>
                <p>Don't have an account? <a href="#" onclick="toggleForm()">Register</a></p>
            </form>
        </div>
        <div class="form-box" id="register-box" style="display:none;">
            <h1>Register</h1>
            <form method="POST" action="{% url 'register' %}">
                <input type="text" name="first_name" placeholder="First Name" required>
                <input type="text" name="last_name" placeholder="Last Name" required>
                <input onfocus= "togglePlaceholder(this)" onblur = "restorePlaceholder(this)" type="email" name="email" placeholder="Email" required>
                <input type="password" name="password1" placeholder="Password" required>
                <input type="password" name="password2" placeholder="Confirm Password" required>
                <button type="submit">Register</button>
                <p>Already have an account? <a href="#" onclick="toggleForm()">Login</a></p>
            </form>
        </div>
    </div>
</body>

</html>